@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-blue: #4a69bd;
$color-black: #1e272e;
$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  color: $color-blue;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}
.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-blue;
}

 .logo i {
  font-size: 40px;
}
/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

.wrapper .sidebar .list a {
  text-decoration: none;
  color: $color-black;
  font-size: 18px;;
  font-style: italic;
}

.wrapper .sidebar .list a:hover {
  text-decoration: none;
  color: $color-black;
  font-size: 22px;;
  font-style: italic;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
position: absolute;
flex-direction: column;
z-index: 1;
display: flex;
opacity: 0;
transition: 0.5s;
max-width: 470px;
&.active {
position: relative;
display: flex;
z-index: 2;
opacity: 1;
transition: opacity 0.5s;
max-width: 470px;
}
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

.post-tags ul a {
  text-decoration: none;
  font-style: italic;
  color: $color-blue;
}

.post-title {
color: $color-blue;
font-weight: 700;
font-size: 24px;
}


@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
  }
  
  .logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    text-align: center;
    color: $color-blue;
  }
  .sidebar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: center;
  }
  .sidebar ul li{
   padding: 7px;
  }
}

@media (max-width: 280px) {
  .logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    color: $color-blue;
  }
}